---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const categories: Array<CompatibilityItem> = [
  { title: "Homelab",        icon: "cloud", url: "#"},
  { title: "Tech",           icon: "hard-drives", url: "#"},
  { title: "Projects",       icon: "projector-screen", url: "#"},
  { title: "Virtualization", icon: "tree-structure", url: "#"},
  { title: "Networking",     icon: "cell-signal-full", url: "#"},
  // ... add more categories if needed
];

const topics: Array<CompatibilityItem> = [
  { title: "Cloudflare Tunnel", icon: "cloud-check", url: "#"},
  // ... add more topics as needed
];

// Use generic 'globe' until specific icons are available.
// Replace 'globe' with actual paths to your icons once available.
---

<ContentSection title="Blog Highlights" id="blog-highlights">
  <Fragment slot="lead">
    Dive deep into various <span class="text-primary">categories</span> 
    and explore trending <span class="text-primary">topics</span> in my blog.
  </Fragment>
  <CompatibilityList
    items={categories}
    title="Categories"
    url="https://blog.pd-portfolio.net/blog/"
  />
</ContentSection>
