---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Diverse Projects",
    description:
      "Explore a wide range of projects, each showcasing a unique skill or technology. Witness the depth of my expertise.",
    icon: "mdi:folder-multiple-outline",
  },
  {
    title: "Cutting-Edge Tech Stack",
    description:
      "Built using the latest technologies and frameworks, ensuring a modern, responsive, and optimized experience.",
    icon: "mdi:chip",
  },
  {
    title: "In-depth Case Studies",
    description:
      "Gain insights into the processes, decisions, and technologies behind each project. Dive deep into my problem-solving approach.",
    icon: "mdi:book-open-page-variant",
  },
  {
    title: "Testimonials",
    description:
      "Read feedback from satisfied clients and collaborators. Their experiences vouch for my dedication and expertise.",
    icon: "mdi:comment-quote",
  },
  {
    title: "Interactive UI/UX",
    description:
      "Experience intuitive navigation, seamless transitions, and a user-centric design that enhances your browsing experience.",
    icon: "mdi:cursor-default-click",
  },
  {
    title: "About Me",
    description:
      "Get to know the individual behind the projects. Discover my journey, values, and the passions that drive my work.",
    icon: "mdi:account",
  },
];
---

<ContentSection title="What's Inside?" id="portfolio-features">
  <Fragment slot="lead">
    Dive into <span class="text-primary">PD's Portfolio</span>. It's more than just projects—it's a reflection of my <span class="text-primary">passion</span>, expertise, and <span class="text-primary">dedication</span> to the craft.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>

  <div class="flex justify-center mt-8">
    <a
      href="https://pd-portfolio.net/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 bg-primary text-white hover:bg-primary-dark transition-colors duration-300"
    >
      <Icon pack="mdi" name="arrow-right" class="h-6" />
      <span>Visit My Portfolio</span>
    </a>
  </div>

</ContentSection>
