---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="HomeLab Innovations" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Welcome to our expanding world of <span class="text-primary">innovation</span>. Here at PDCore Dynamics, we focus on cutting-edge projects and <span class="text-primary">emerging</span> technologies.
    Dive deep into a <span class="text-primary">powerful</span> and immersive experience of what our lab has to offer.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://pd-portfolio.net/work/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="folder-multiple-outline" class="h-8" />
      <span>Explore Projects</span>
    </a>
    <a
      href="https://docs.pd-portfolio.net"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="chip" class="h-8" />
      <span>Explore Docs</span>
    </a>
  </div>
</ContentSection>
