---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Documentation" id="documentation">
  <Fragment slot="lead">
    Dive deep into our <span class="text-primary">documentation</span> and learn all about <span class="text-primary">pd-portfolio.net</span>.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="text-center p-8 border hover:shadow-lg">
      <h4 class="text-lg font-bold mb-4">Discover the Full Documentation</h4>
      <p>Explore detailed articles, guides, and tips to make the most of your portfolio.</p>
      <a href="https://docs.pd-portfolio.net" class="text-primary mt-4 block text-lg">Visit Documentation &rarr;</a>
    </div>
  </div>
</ContentSection>
